 <!-- Main Menu -->
 <nav id="primary-navigation" class="navbar" role="navigation">
    <div class="navbar-inner">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <h3 class="navbar-brand">Menu</h3>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="menu.html">Menu</a>
                    <div class="mega-menu">
                        <div class="mega-menu-inner">
                            <div class="mega-cols">
                                <ul class="sub-menu">
                                    <li><a href="menu.html#coffee">Coffee</a>
                                    <li><a href="menu.html#milk">Milk</a>
                                    <li><a href="menu.html#cocktail">Cocktail</a>
                                    <li><a href="menu.html#beverages">Beverages</a>
                                    <li><a href="menu.html#tea">Tea</a>
                                    <li><a href="menu.html#cake">Cake</a>
                                </ul>
                            </div>
                            <div class="mega-cols">
                                <div class="mega-text">
                                    <figure>
                                        <img alt="" src="../images/mega-menu/mega-menu.jpg">
                                        <figcaption>Classical Latin literature from 45 BC, making...</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="galleries-v1.html">Galleries</a>
                    <div class="dropdown">
                        <ul class="sub-menu">
                            <li><a href="galleries-v3.html">Galleries 2 Cols</a>
                            <li><a href="galleries-v1.html">Galleries 3 Cols (Single Expanding)</a>
                            <li><a href="galleries-v2.html">Galleries 4 Cols (Single Popup)</a>
                        </ul>
                    </div>
                </li>
                <li><a href="blog-v1.html">News &amp; Events</a>
                    <div class="dropdown">
                        <ul class="sub-menu">
                            <li><a href="blog-v1.html">Blog standard</a>
                            <li><a href="blog-v2.html">Blog Left Sidebar</a>
                            <li><a href="blog-v3.html">Blog Right Sidebar</a>
                            <li><a href="post.html">Single</a>
                        </ul>
                    </div>
                </li>
                <li><a href="contact.html">Contacts</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>