<div id="banner">
    <div class="slider-wrapper">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide *ngFor="let image of images">
              <div class="carousel-img-wrapper" [style.background-image]="'url('+image+')'">
                
              </div>
              <div class="carousel-caption-content">
                <h1>First slide label</h1>
                <p class="desc">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>            
          </ngb-carousel>
    </div>
</div>