<section id="infoUs" class="section infoUs" style="background-image: url(../assets/images/home/info/info-bg.jpg); background-position: right center; background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <figure>
                    <img alt="" src="../assets/images/home/info/info-img-1.png" class="animated fadeInRight animation animation-delay-25" data-animate="fadeInRight animation animation-delay-25">
                    <img alt="" src="../assets/images/home/info/info-img-2.png" class="animated fadeInRight animation" data-animate="fadeInRight animation">
                </figure>
            </div>
            
            <div class="col-sm-6 col-sm-pull-6" *ngIf="article">
                <h1 class="title line-title">
                    {{article.title}}<i class="fa"></i>
                </h1>
                <aside>
                    <p>{{article.description}}</p>                    
                </aside>
            </div>
        </div>
    </div>
</section>