<section id="services" style="background-image: url(../assets/imgs/services/bg_menu.jpg); background-repeat: no-repeat; background-position: center top; background-size: 100% auto;">
    <div class="container">
        <!-- 
        <ul class="service-effect">
            <li><img alt="" src="../images/home/services/service-1.png"  class="animated animation-duration-15" data-animate="fadeInLeft animation"></li>
            <li><img alt="" src="../images/home/services/service-2.png"  class="animated animation-duration-15" data-animate="fadeInDown animation"></li>
            <li><img alt="" src="../images/home/services/service-3.png"  class="animated animation-duration-15" data-animate="fadeInDown animation"></li>
            <li><img alt="" src="../images/home/services/service-4.png"  class="animated animation-duration-15" data-animate="fadeInDown animation"></li>
            <li><img alt="" src="../images/home/services/service-5.png"  class="animated animation-duration-15" data-animate="fadeInDown animation"></li>
            <li><img alt="" src="../images/home/services/service-6.png"  class="animated animation-duration-15" data-animate="fadeInRight animation"></li>
        </ul> -->
        <ul id="services-item">
            <li class="service">
                <aside>
                    <div class="service-inner">
                        <h3>
                            <a href="menu.html#coffee" title="Coffee">Coffee</a>
                        </h3>
                        <p>We the same levels of commitment to cocktail know-how
                            from all of the people we work with</p>
                    </div>
                </aside>
                <em class="animated animation infinite bullets"></em>
            </li>
            <li class="service">
                <aside>
                    <div class="service-inner">
                        <h3>
                            <a href="menu.html#cocktail" title="Cocktail">Cocktail</a>
                        </h3>
                        <p>We the same levels of commitment to cocktail know-how
                            from all of the people we work with</p>
                    </div>
                </aside>
                <em class="animated animation infinite bullets animation-delay-50"></em>
            </li>
            <li class="service">
                <aside>
                    <div class="service-inner">
                        <h3>
                            <a href="menu.html#tea" title="Tea">Tea</a>
                        </h3>
                        <p>We the same levels of commitment to cocktail know-how
                            from all of the people we work with</p>
                    </div>
                </aside>
                <em class="animated animation infinite bullets animation-delay-100"></em>
            </li>
            <li class="service">
                <aside>
                    <div class="service-inner">
                        <h3>
                            <a href="menu.html#cake" title="Cake">Cake</a>
                        </h3>
                        <p>We the same levels of commitment to cocktail know-how
                            from all of the people we work with</p>
                    </div>
                </aside>
                <em class="animated animation infinite bullets animation-delay-150"></em>
            </li>
            <li class="service">
                <aside>
                    <div class="service-inner">
                        <h3>
                            <a href="menu.html#milk" title="Milk">Milk</a>
                        </h3>
                        <p>We the same levels of commitment to cocktail know-how
                            from all of the people we work with</p>
                    </div>
                </aside>
                <em class="animated animation infinite bullets animation-delay-200"></em>
            </li>
            <li class="service">
                <aside>
                    <div class="service-inner">
                        <h3>
                            <a href="menu.html#beverages" title="Beverages">Beverages</a>
                        </h3>
                        <p>We the same levels of commitment to cocktail know-how
                            from all of the people we work with</p>
                    </div>
                </aside>
                <em class="animated animation infinite bullets animation-delay-250"></em>
            </li>
        </ul>
    </div>
</section>