<footer id="footer">
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <aside class="widget">
                        <h3 class="title">About Us</h3>
                        <div class="widget-content contact-us">
                            <p>Chefdog, A.K.A. Marco van Zuijlen; gewoon een tech nerd met een passie voor koffie.</p>
                            <p><i class="fa">&#xf095;</i><span>+(31)643064941</span></p>
                            <p><i class="fa">&#xf015;</i><span>Voorschoten, Nederland</span></p>
                        </div>
                    </aside>
                </div>
                <div class="col-sm-3">
                    <aside class="widget">
                        <h3 class="title">For Business</h3>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">Office Coffee</a></li>
                                <li><a href="#">Food Service</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-3">
                    <aside class="widget">
                        <h3 class="title">Social media</h3>
                        <div class="widget-content">
                            <ul class="social">
                                <li><a href="#" class="hvr-rectangle-out" target="_blank"><i class="fa">&#xf09a;</i></a></li>
                                <li><a href="#" class="hvr-rectangle-out" target="_blank"><i class="fa">&#xf099;</i></a></li>
                                <li><a href="#" class="hvr-rectangle-out" target="_blank"><i class="fa">&#xf0d5;</i></a></li>
                                <li><a href="#" class="hvr-rectangle-out" target="_blank"><i class="fa">&#xf09e;</i></a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>
                Copyright &copy; 2020 Chefdog.com. All Rights Reserved.
            </p>
        </div>
    </div>

</footer>