<!-- Header -->
<header id="header" class="header full-screen">
    <div class="header-inner">
        <div class="container">
            <!-- Top Header -->
            <div class="header-top">

                <div class="row">
                                        
                    <!-- Logo -->
                    <div id="logo" class="col-sm-12 logo col-sm-pull-12">
                        <a href="index.html"><img alt="The Retation"
                            src="../assets/images/logo.png"></a>
                    </div>
                    
                </div>
            </div>

        </div>
        
       <!-- nav here -->
        <app-navigation></app-navigation>
    </div>

    <!-- Banner -->
    <app-banner></app-banner>

</header>